*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background: #cac9c9;
  font-family: 'Quicksand', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active {
  color: #488884;
  text-decoration: none;
}

button img {
  width: 24px;
  height: 24px;
}

h1 {
  font-size: 2rem;
  line-height: 1;
}
p {
  line-height: 1;
  font-size: 1.2rem;
  margin: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App footer {
  font-size: 1rem;
  text-align: center;
}

.App footer a,
.App footer span {
  color: #2d746f;
}
